.main{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 60%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.box{
 height: 30%;
 width: 30%;
 /* border: 1px solid; */
 background-color: #fff;
border-radius: 1rem;
justify-content: center;
display: flex;
align-items: center;
font-size:6rem;
}
body{
    background-color: #60492C;
    display: flex;
   justify-content: center;
   width: 99vw;
   flex-direction: column;
   align-items: center;
}
h1{
   font-size: 3rem; 
   color: #fff;
}
button{
    padding: 10px 20px;
}